<%- include("partials/header.ejs") %>

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Why I Created <span class="main-title">Car Blog</span></h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            I created this blog out of my deep passion for cars and my love for discussing and debating all things automotive. 
            As an avid car lover, I’ve always enjoyed sharing my experiences, insights, and opinions about cars with fellow enthusiasts. 
            This blog is a space where we can come together to share stories, exchange tips, and engage in lively discussions about our favorite vehicles. 
            Whether you’re into classic muscle cars, modern supercars, or anything in between, this community is here for you to connect with others who share your enthusiasm.
        </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="/submit"><button type="button" class="btn btn-success btn-lg px-4 me-sm-3">View Articles and Posts</button></a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 80vh;">
      <div class="container px-5">
        <img src="partha.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" width="700" height="500" loading="lazy">
      </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>